@page "/categories/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Categoría</h3>

<CategoryForm @ref="categoryForm" Category="category" OnValidSubmit="Create" ReturnAction="Return" />

@code {
    private Category category = new();
    private CategoryForm? categoryForm;
    private async Task Create()
    {
        var responseHTTP = await repository.Post("/api/categories", category);

        if (responseHTTP.Error)
        {
            var message = await responseHTTP.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        Return();
    }

    private void Return()
    {
        categoryForm!.FormPostedSuccessFully = true;
        navigationManager.NavigateTo("/categories");
    }

}

